.m-x {
  margin: 10px;
}

.m-2x {
  margin: 20px;
}

.m-3x {
  margin: 30px;
}

.m-4x {
  margin: 40px;
}

.m-5x {
  margin: 50px;
}

.m-6x {
  margin: 60px;
}

.m-7x {
  margin: 70px;
}

.m-8x {
  margin: 80px;
}

.m-9x {
  margin: 90px;
}

.m-10x {
  margin: 100px;
}

.mv-x {
  margin: 10px 0px;
}

.mv-2x {
  margin: 20px 0px;
}

.mv-3x {
  margin: 30px 0px;
}

.mv-4x {
  margin: 40px 0px;
}

.mv-5x {
  margin: 50px 0px;
}

.mv-6x {
  margin: 60px 0px;
}

.mv-7x {
  margin: 70px 0px;
}

.mv-8x {
  margin: 80px 0px;
}

.mv-9x {
  margin: 90px 0px;
}

.mv-10x {
  margin: 100px 0px;
}

.mt-x {
  margin-top: 10px;
}

.mt-2x {
  margin-top: 20px;
}

.mt-3x {
  margin-top: 30px;
}

.mt-4x {
  margin-top: 40px;
}

.mt-5x {
  margin-top: 50px;
}

.mt-6x {
  margin-top: 60px;
}

.mt-7x {
  margin-top: 70px;
}

.mt-8x {
  margin-top: 80px;
}

.mt-9x {
  margin-top: 90px;
}

.mt-10x {
  margin-top: 100px;
}

.mb-x {
  margin-bottom: 10px;
}

.mb-2x {
  margin-bottom: 20px;
}

.mb-3x {
  margin-bottom: 30px;
}

.mb-4x {
  margin-bottom: 40px;
}

.mb-5x {
  margin-bottom: 50px;
}

.mb-6x {
  margin-bottom: 60px;
}

.mb-7x {
  margin-bottom: 70px;
}

.mb-8x {
  margin-bottom: 80px;
}

.mb-9x {
  margin-bottom: 90px;
}

.mb-10x {
  margin-bottom: 100px;
}

.mr-x {
  margin-right: 10px;
}

.mr-2x {
  margin-right: 20px;
}

.mr-3x {
  margin-right: 30px;
}

.mr-4x {
  margin-right: 40px;
}

.mr-5x {
  margin-right: 50px;
}

.mr-6x {
  margin-right: 60px;
}

.mr-7x {
  margin-right: 70px;
}

.mr-8x {
  margin-right: 80px;
}

.mr-9x {
  margin-right: 90px;
}

.mr-10x {
  margin-right: 100px;
}

.ml-x {
  margin-left: 10px;
}

.ml-2x {
  margin-left: 20px;
}

.ml-3x {
  margin-left: 30px;
}

.ml-4x {
  margin-left: 40px;
}

.ml-5x {
  margin-left: 50px;
}

.ml-6x {
  margin-left: 60px;
}

.ml-7x {
  margin-left: 70px;
}

.ml-8x {
  margin-left: 80px;
}

.ml-9x {
  margin-left: 90px;
}

.ml-10x {
  margin-left: 100px;
}

.p-x {
  padding: 10px;
}

.p-2x {
  padding: 20px;
}

.p-3x {
  padding: 30px;
}

.p-4x {
  padding: 40px;
}

.p-5x {
  padding: 50px;
}

.p-6x {
  padding: 60px;
}

.p-7x {
  padding: 70px;
}

.p-8x {
  padding: 80px;
}

.p-9x {
  padding: 90px;
}

.p-10x {
  padding: 100px;
}

.pt-x {
  padding-top: 10px;
}

.pt-2x {
  padding-top: 20px;
}

.pt-3x {
  padding-top: 30px;
}

.pt-4x {
  padding-top: 40px;
}

.pt-5x {
  padding-top: 50px;
}

.pt-6x {
  padding-top: 60px;
}

.pt-7x {
  padding-top: 70px;
}

.pt-8x {
  padding-top: 80px;
}

.pt-9x {
  padding-top: 90px;
}

.pt-10x {
  padding-top: 100px;
}

.pv-x {
  padding: 10px 0px;
}

.pv-2x {
  padding: 20px 0px;
}

.pv-3x {
  padding: 30px 0px;
}

.pv-4x {
  padding: 40px 0px;
}

.pv-5x {
  padding: 50px 0px;
}

.pv-6x {
  padding: 60px 0px;
}

.pv-7x {
  padding: 70px 0px;
}

.pv-8x {
  padding: 80px 0px;
}

.pv-9x {
  padding: 90px 0px;
}

.pv-10x {
  padding: 100px 0px;
}

.pb-x {
  padding-bottom: 10px;
}

.pb-2x {
  padding-bottom: 20px;
}

.pb-3x {
  padding-bottom: 30px;
}

.pb-4x {
  padding-bottom: 40px;
}

.pb-5x {
  padding-bottom: 50px;
}

.pb-6x {
  padding-bottom: 60px;
}

.pb-7x {
  padding-bottom: 70px;
}

.pb-8x {
  padding-bottom: 80px;
}

.pb-9x {
  padding-bottom: 90px;
}

.pb-10x {
  padding-bottom: 100px;
}

.pr-x {
  padding-right: 10px;
}

.pr-2x {
  padding-right: 20px;
}

.pr-3x {
  padding-right: 30px;
}

.pr-4x {
  padding-right: 40px;
}

.pr-5x {
  padding-right: 50px;
}

.pr-6x {
  padding-right: 60px;
}

.pr-7x {
  padding-right: 70px;
}

.pr-8x {
  padding-right: 80px;
}

.pr-9x {
  padding-right: 90px;
}

.pr-10x {
  padding-right: 100px;
}

.pl-x {
  padding-left: 10px;
}

.pl-2x {
  padding-left: 20px;
}

.pl-3x {
  padding-left: 30px;
}

.pl-4x {
  padding-left: 40px;
}

.pl-5x {
  padding-left: 50px;
}

.pl-6x {
  padding-left: 60px;
}

.pl-7x {
  padding-left: 70px;
}

.pl-8x {
  padding-left: 80px;
}

.pl-9x {
  padding-left: 90px;
}

.pl-10x {
  padding-left: 100px;
}

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-full-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacebetween-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-spacearound-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-horizontal-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-columun-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 83%;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 1px black;
          box-shadow: 0px 0px 1px black;
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

[class^="col-"] {
  margin: 10px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.btn {
  border: none;
  background: none;
  padding: 15px 32px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

.btn-border-radius-x {
  border-radius: 5px;
}

.btn-border-radius-2x {
  border-radius: 10px;
}

.btn-border-radius-3x {
  border-radius: 15px;
}

.btn-border-radius-4x {
  border-radius: 20px;
}

.btn-border-radius-5x {
  border-radius: 25px;
}

.btn-border-radius-6x {
  border-radius: 30px;
}

.btn-border-white {
  border: 2px solid #cf5b70;
  color: white;
}

.btn-border-white:hover {
  background: #cf5b70;
  border: none;
  color: black;
}

.btn-border-red {
  background: #cf5b70;
  color: white;
}

.btn-red {
  color: black;
}

.btn-red:hover {
  padding: 10px;
  background: #cf5b70;
  color: white;
}

#header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 637px;
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  z-index: 0;
}

#header .ovarlay {
  width: 100%;
  height: 637px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.69);
}

#header .content {
  width: 100%;
  height: 637px;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  text-align: center;
}

#header .content h4 {
  font-size: 30px;
  font-weight: 400;
  text-align: none;
  line-height: none;
}

#header .content h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  text-align: none;
  line-height: none;
}

#header .content p {
  width: 50%;
  font-size: none;
  font-weight: none;
  text-align: center;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.69);
}

#header .content button {
  font-size: 15px;
  font-weight: 600;
  text-align: none;
  line-height: none;
  position: absolute;
  top: 440px;
  left: none;
  z-index: none;
}

#header .content .dubl-down {
  position: relative;
  top: none;
  left: none;
  z-index: 7;
  bottom: 5vh;
  width: 100%;
  font-size: 30px;
  font-weight: none;
  text-align: center;
  line-height: none;
  -webkit-animation: mymove 2s infinite;
          animation: mymove 2s infinite;
}

#header .content .dubl-down .down {
  color: #cf5b70;
  cursor: pointer;
}

@-webkit-keyframes mymove {
  0% {
    top: 120px;
  }
  2% {
    top: 120px;
  }
  10% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  40% {
    top: 150px;
  }
  60% {
    top: 140px;
  }
  70% {
    top: 150px;
  }
  82% {
    top: 150px;
  }
  100% {
    top: 120px;
  }
}

@keyframes mymove {
  0% {
    top: 120px;
  }
  2% {
    top: 120px;
  }
  10% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  40% {
    top: 150px;
  }
  60% {
    top: 140px;
  }
  70% {
    top: 150px;
  }
  82% {
    top: 150px;
  }
  100% {
    top: 120px;
  }
}

#header .nav {
  position: relative;
  top: none;
  left: none;
  z-index: 999;
  width: 100%;
  height: 70px;
}

#header .nav .nav-bar {
  width: 83%;
}

#header .nav .nav-bar .nav-bar-left a img {
  width: 80px;
}

#header .nav .nav-bar .nav-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .nav .nav-bar .nav-bar-right ul {
  width: 609px;
}

#header .nav .nav-bar .nav-bar-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0px 3px 3px;
  font-size: 16px;
}

#header .nav .nav-bar .nav-bar-right ul li a {
  color: white;
}

#header .nav .nav-bar .nav-bar-right ul li a:link {
  text-decoration: none;
}

#header .nav .nav-bar .nav-bar-right ul li a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #cf5b70;
}

#about {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 637px;
}

#about div {
  width: 83%;
  line-height: 1.8;
}

#about div #about-logo img {
  -webkit-box-shadow: 0px 0px 10px #cf5b70;
          box-shadow: 0px 0px 10px #cf5b70;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about div #about-metn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about div #about-metn h2 {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 700;
  text-align: none;
  line-height: 1;
}

#about div #about-metn h2 span {
  font-weight: 500;
}

#about div #about-metn h4 {
  font-size: 25px;
  font-weight: 500;
  text-align: none;
  line-height: none;
}

#about div #about-metn h4 span {
  color: #cf5b70;
  font-weight: 500;
}

#about div #about-metn p {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.69);
}

#about div #about-metn ul a {
  color: black;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 39px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  text-align: center;
}

#about div #about-metn ul a:hover {
  color: #cf5b70;
  border: 2px solid #cf5b70;
}

#servies {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: none;
  background-color: rgba(230, 224, 224, 0.69);
}

#servies h2 {
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: none;
  text-align: center;
  line-height: none;
}

#servies p {
  font-size: none;
  font-weight: none;
  text-align: center;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.69);
}

#servies .container .row .col-4 h4 {
  letter-spacing: 1px;
  font-size: 180%;
  font-weight: none;
  text-align: center;
  line-height: none;
  color: black;
}

#servies .container .row .col-4 p {
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
}

#freelancer {
  margin: 0 auto;
  position: relative;
  width: none;
  height: none;
}

#freelancer div .divfree h2 {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
}

#freelancer div .divhire button {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: none;
}
/*# sourceMappingURL=style.css.map */