.width-full {
        width: $full-faiz;
}

.width-50 {
        width: 50%;
}

.border-box {
        box-sizing: border-box;
}

// Bu class elementlerin hem x hem de y oxunda ortalanmasini temin edir
.flex-spacebetween {
        display: flex;
        justify-content: space-between;
}

.flex-full-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

.flex-spacebetween-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.flex-spacearound-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.flex-horizontal-start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
}

.flex-columun-center {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}

.flex-columun-around {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
}

.text-center {
        text-align: center;
}

.text-white {
        color: #6c757d!important;

}

.relative {
        position: relative;
}
.list-inline {
        padding-left: 0;
        list-style: none;
}
.list-inline-item {
        display: inline-block;
}
.link {
        border-radius: 50%;
        transition: all 0.5s;
        background-color: rgba(241, 241, 241, 0.08);
        width: 42px;
        height: 42px;
        display: block;
        font-size: 18px;
        line-height: 42px;
        text-align: center;
}
#footer {
        background-color: #242424 !important;
}
.reng {
        color: #6c757d!important;
}