// --------------------General Margins--------------------------------
$sayi: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11;

@each $i in $sayi {
    .m-#{$i}x {
        margin: $i * 10px;
    }
}

// ----------------------top and bottom margin----------------------------------------
@each $i in $sayi {
    .mv-#{$i}x {
        margin-top: $i * 10px;
        margin-bottom: $i * 10px;
    }
}

//  ---------------------Margin top--------------------------------
@each $i in $sayi {
    .mt-#{$i}x {
        margin-top: $i * 10px;
    }
}

//  ---------------------Margin bottom--------------------------------
@each $i in $sayi {
    .mb-#{$i}x {
        margin-bottom: $i * 10px;
    }
}

//  ---------------------Margin right--------------------------------
@each $i in $sayi {
    .mr-#{$i}x {
        margin-right: $i * 10px;
    }
}

//  ---------------------Margin left--------------------------------
@each $i in $sayi {
    .ml-#{$i}x {
        margin-left: $i * 10px;
    }
}

//  ----------------------General Paddings------------------------------------------
@each $i in $sayi {
    .p-#{$i}x {
        padding: $i * 10px;
    }
}

// ------------------------ padding top--------------------------------------
@each $i in $sayi {
    .pt-#{$i}x {
        padding-top: $i * 10px;
    }
}

// ----------------------top and bottom padding----------------------------------------
@each $i in $sayi {
    .pv-#{$i}x {
        padding:($i * 10px) 0px;
        // padding-bottom: $i * 10px;
    }
}

//  ---------------------Padding bottom--------------------------------
@each $i in $sayi {
    .pb-#{$i}x {
        padding-bottom: $i * 10px;
    }
}

//  ---------------------Pading right--------------------------------
@each $i in $sayi {
    .pr-#{$i}x {
        padding-right: $i * 10px;
    }
}

//  ---------------------Padding left--------------------------------
@each $i in $sayi {
    .pl-#{$i}x {
        padding-left: $i * 10px;
    }
}
