// common classes

.justify-content-between {
        justify-content: space-between;
}

.justify-content-start {
        justify-content: flex-start;
}

.justify-content-end {
        justify-content: flex-end;
}

.justify-content-around {
        justify-content: space-around;
}

// Bu class elementlerin hem x hem de y oxunda ortalanmasini temin edir
.flex-spacebetween {
        display: flex;
        justify-content: space-between;
}

.flex-full-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

.flex-spacebetween-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.flex-spacearound-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

.flex-horizontal-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
}

.flex-columun-center {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}

// font size weight
// mixin class


.font-center {
        text-align: center;
        line-height: 1.8;
}

@mixin font-size-weight($siz, $weig) {
        font-size: $siz;
        font-weight: $weig;
}



@mixin defaultmain($gen, $hun) {
        margin: 0 auto;
        position: relative;
        width: $gen;
        height: $hun;
}
