$main-font: "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family: 'Montserrat', sans-serif;
$font-family2: 'Nunito', sans-serif;

// Olçülər px

$main-width: 1349px;
$width : 1100px;
$main-height: 637px;

// rengler

$main-red: #cf5b70;
$main-p: rgba(255, 255, 255, 0.69);
$main-pp: rgba(0, 0, 0, 0.69);
