$main-font: "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Olçülər px

$main-width: 1349px;
$main-height: 637px;
$margin-x: 10px;
$margin-2x: $margin-x * 2;
$padding-x: 10px;
$padding-2x: $padding-x * 2;

// rengler

$main-red: #e65f78;
