.color-white {
    color: $color-white;
}

.color-black {
    color: $color-black;
}

.color-red {
    color: $main-red;
}

.color-light-black {
    color: $main-pp;
}

.color-light-white {
    color: $main-p;
}

.color-bg-white {
    background-color: $main-backcolor;
}

.color-bg-red {
    background-color: $main-red;
}

.color-bg-black {
    background-color: $main-pp;
}
