{% extends "app/layout.html" %}

{% block title %}
<title>
    Fotoqraf-Blog
</title>
{% endblock %}

{% block content_menu %}
<li><a class="blank" href="#blogPost">Blog</a></li>
<li><a class="blank" href="#contact">Əlaqə</a></li>
{% endblock %}

{% block content_body %}


<section id="blogPost" class="pv-10x">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>#</h1><span style="color: #e65f78;font-weight: 700;
                    cursor: pointer;">BY Ferid</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="#">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>#</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}