{% extends "app/layout.html" %}

{% block content_menu %}
<li><a class="blank" href="#blog">Blog</a></li>
<li><a class="blank" href="#contact">Contact</a></li>
{% endblock %}

{% block content_body %}

<!-- section about -->
<section id="about" class="flex-full-center">
    <div class="flex-spacebetween border-box pb-2x">
        <div class="mr-3x" id="about-logo"><img class="width-full" src="./static/img/about.jpg" alt=""></div>
        <div class="pr-1x flex-spacebetween pl-1x border-box width-full" id="about-metn">
            <h2 class="mb-2x">My <span>About</span></h2>
            <h4 class="mb-2x">Hello! My <span class="color-red">Ferid Memmedli.</span></h4>
            <p class="mb-1x color-light-black">It is a long established fact that a reader will be distracted by the
                readable content of a
                page when
                looking at its layout.</p>
            <p class="mb-1x color-light-black">It is a long established fact that a reader will be distracted by the
                readable content of a
                page when
                looking at its layout.</p>
            <p class="mb-1x color-light-black">It is a long established fact that a reader will be distracted by the
                readable content of a
                page when
                looking at its layout.</p>
            <ul class="flex-horizontal-start">
                <li><a href="#header" class="ml-1x"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#header" class="ml-1x"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#header" class="ml-1x"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#header" class="ml-1x"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- section servies -->
<section id="servies" class="pv-10x color-bg-white">
    <h2>Our Services</h2>
    <p class="mv-2x mb-7x border-box color-light-black">It is a long established fact that a reader will be of a
        page when established fact looking at its
        layout.</p>
    <div class="container">
        <div class="row">
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-growing-chart.svg" alt="svg">
                </div>
                <h4 class="mb-1x">Graphic Design</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-hot-cup.svg" alt="svg"></div>
                <h4 class="mb-1x">Unlimited Color</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-upload.svg" alt="svg"></div>
                <h4 class="mb-1x">Media Marketing</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-layers.svg" alt="svg"></div>
                <h4 class="mb-1x">Unlimited Wifi</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-website-theme.svg" alt="svg">
                </div>
                <h4 class="mb-1x">Responsive Design</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
            <div class="col-4 box">
                <div class="flex-full-center mb-2x"><img src="./static/img/svg/mbri-edit.svg" alt="svg"></div>
                <h4 class="mb-1x">Easy to customize</h4>
                <div class="services"></div>
                <p class="mb-1x">
                    There are many variations of passages of but the majority have suffered alteration in some form.
                </p>
            </div>
        </div>
    </div>
</section>
<!--  freelancer -->
<main id="freelancer" class="pv-10x">
    <div class="container">
    </div>
</main>
<!-- section client -->
<section id="client" class="pv-10x">
    <div class="container flex-columun-around">
        <h2>Our Client</h2>
        <p class="flex-full-center m-2x color-light-black">It is a long established fact that a reader will be of a
            page when established fact looking at its layout.</p>
        <div id="baba">
            <div id="ata">
                <div class="slayt flex-columun-around">
                    <div class="svg-dirnaq"><img src="./static/img/svg/mbri-quote-left.svg" alt=""></div>
                    <div class="lg flex-full-center"><img src="./static/img/testi-1.jpg" alt=""></div>
                    <p class="flex-full-center color-light-black">The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
                    <div class="alt flex-full-center">-Lorem poisn of</div>
                </div>
                <div class="slayt flex-columun-around">
                    <div class="svg-dirnaq"><img src="./static/img/svg/mbri-quote-left.svg" alt=""></div>
                    <div class="lg flex-full-center"><img src="./static/img/testi-2.jpg" alt=""></div>
                    <p class="flex-full-center color-light-black">The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
                    <div class="alt flex-full-center">-Lorem poisn of</div>
                </div>
                <div class="slayt flex-columun-around">
                    <div class="svg-dirnaq"><img src="./static/img/svg/mbri-quote-left.svg" alt=""></div>
                    <div class="lg flex-full-center"><img src="./static/img/testi-3.jpg" alt=""></div>
                    <p class="flex-full-center color-light-black">The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here.</p>
                    <div class="alt flex-full-center">-Lorem poisn of</div>
                </div>
            </div>
        </div>
        <div class="aktiv flex-full-center">
            <span id="active1" class="aktiv1 active btn-border-radius-6x ml-1x mt-1x"></span>
            <span id="active2" class="aktiv1 btn-border-radius-6x ml-1x mt-1x"></span>
            <span id="active3" class="aktiv1 btn-border-radius-6x ml-1x mt-1x"></span>
        </div>
    </div>
</section>
<!-- section portfolio -->
<section id="portfolio" class="pv-10x">
    <div class="port">
        <h2>Our Work</h2>
        <p class="mv-2x">It is a long established fact that a reader will be of a page when established fact looking
            at its layout.</p>
        <button id="all" class="job btn btn-red btn-border-radius-6x active">ALL</button>
        <button id="seo" class="job btn btn-red btn-border-radius-6x">SEO</button>
        <button id="webdesign" class="job btn btn-red btn-border-radius-6x">WEBDESIGN</button>
        <button id="work" class="job btn btn-red btn-border-radius-6x">WORK</button>
        <button id="worpres" class="job btn btn-red btn-border-radius-6x">WORDPRES</button>
    </div>
    <div class="anbar row">
        <div data-id="3" class="qutu" onclick="galery(this)"><img src="./static/img/work/1.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
        <div data-id="1" class="qutu" onclick="galery(this)"><img src="./static/img/work/2.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
        <div data-id="2" class="qutu" onclick="galery(this)"><img src="./static/img/work/3.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
        <div data-id="4" class="qutu" onclick="galery(this)"><img src="./static/img/work/4.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
        <div data-id="2" class="qutu" onclick="galery(this)"><img src="./static/img/work/5.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
        <div data-id="1" class="qutu" onclick="galery(this)"><img src="./static/img/work/6.jpg">
            <div class="overtitle">
                <span class="text">Categoriya</span>
                <h4 class="text1">Project Title</h4>
            </div>
        </div>
    </div>
    <!-----------------------------Temp div-------------------------------------->
    <i onclick="prev()" id="sol" class="fas fa-caret-left"></i>
    <div class="albom">
        <span id="bagla" class="close cursor">&times;</span>
        <img class="sekil">
    </div>
    <i onclick="next()" id="sag" class="fas fa-caret-right"></i>
    <!---------------------------------------------------------------------------->
</section>
<!-- section blog -->
<section id="blog" class="pv-10x">
    <div class="an">
        <div class="qutu1 mv-2x">
            <h2>Blog</h2>
            <p class="m-2x">It is a long established fact that a reader will be of a page when established fact
                looking at its
                layout.</p>
        </div>
        <div class="qutu2 m-2x">
            {% for blog in blog %}
            <div class="oxu"><img src="{{blog.blogImage}}">
                <h2 class="mt-1x"><a href="/blog/{{blog.id}}"
                        style="color: #212529;text-decoration: none;">{{blog.blogTitle}}</a></h2>
                <div class="izahat">
                    <p class="tarix mv-1x">{{blog.blogDate}}</p><span class="color-red">{{blog.blogAuthor}}</span>
                    <p class="meqale">{{blog.blogDetail}}</p>
                    <p class="ardi mv-1x"><a href="/blog/{{blog.id}}">Read More...</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}