// section about

#about {
  @include defaultmain($main-width, $main-height);
  @extend .flex-full-center;
  div {
    box-sizing: border-box;
    width: $width;
    line-height: 1.8;
    @extend .flex-spacebetween;
    #about-logo {
      margin-right: 30px;
      img {
        box-shadow: 0px 0px 10px $main-red;
        width: 100%;
        object-fit: cover;
      }
    }
    #about-metn {
      width: 100%;
      box-sizing: border-box;
      @extend .flex;
      flex-direction: column;
      padding: 0px 10px;
      h2 {
        font-family: $font-family;
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
        span {
          font-weight: 500;
        }
      }
      h4 {
        font-size: 25px;
        font-weight: 500;
        font-family: $font-family;
        span {
          color: $main-red;
          font-weight: 500;
        }
      }
      p {
        font-family: $font-family2;
        color: $main-pp;
      }
      ul {
        @extend .flex-horizontal-start;
      }
    }
  }
}
