// section about

#about {
  width: $main-width;
  height: $main-height;
  @extend .flex-full-center;
  position: relative;
  div {
    width: 100%;
    margin: 0px 53px;
    line-height: 1.8;
    @extend .flex;
    justify-content: center;
    #about-logo img {
      margin: 0px;
      width: 550px;
      object-fit: cover;
    }
    #about-metn {
      width: 100%;
      @extend .flex;
      flex-direction: column;
      h2 {
        font-size: 30px;
        font-weight: 550;
      }
      h4 {
        font-size: 25px;
        font-weight: 400;
        span {
          color:$main-red;
        }
      }
      p {
        margin-bottom: 36px;
        color: $main-pp;
      }
      ul {
        @extend .flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
