#client {
    @include defaultmain($full-faiz, none);
    background-color: $main-backcolor;
    .container {
        h2 {
            @include font-size-weig-align-liheig(30px, none, center, none);
        }
        p {
            @include font-size-weig-align-liheig(none, none, center, 1.5);
            width: 50%;
        }
        #baba {
            position: relative;
            overflow: hidden;
            width: 1100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            #ata {
                position: relative;
                left: 0px;
                transition: all 0.8s ease;
                display: flex;
                align-items: center;
                .slayt {
                    height: 360px;
                    width: 1100px;
                    .svg-dirnaq {
                        text-align: center;
                        img {
                            height: 50px;
                        }
                    }
                    .lg {
                        display: flex;
                        img {
                            border-radius: 50%;
                        }
                    }
                    p {
                        width: 50%;
                        @include font-size-weig-align-liheig(none, none, center, 1.5);
                    }
                    .alt {
                        text-align: center;
                    }
                }
            }
        }
        .aktiv {
            .aktiv1 {
                background-color: $light-red;
                cursor: pointer;
                width: 14px;
                height: 7px;
                transition: all 0.8s ease;
                outline: none !important;
                box-shadow: none !important;
                &:hover {
                    background-color: $main-red;
                }
            }
            .aktiv1.active {
                background-color: $main-red;
                width: 21px;
            }
        }
    }
}
