//  header home
#header {
  width: $main-width;
  height: $main-height;
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  position: relative;
  z-index: 0;
  .ovarlay {
    width: $main-width;
    height: $main-height;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.69);
  }
  .content {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
    @extend .flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h4 {
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 400;
    }
    h1 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 580;
      margin-bottom: 30px;
    }
    p {
      width: 50%;
      text-align: center;
      margin-bottom: 30px;
      line-height: 1.8;
    }
    button {
      @extend .btn;
      @extend .btn-border-white;
      @extend .btn-border-radius-6x;
    }
  }
  .nav {
    position: relative;
    z-index: 2;
    width: 100%;
    // height: 40px;
    padding: 20px 0px;
    .nav-bar {
      width: 1100px;
      margin: 0px auto;
      @extend .flex-full-center;
      .nav-bar-left a img {
        width: 100px;
      }
      .nav-bar-right {
        display: inline-block;
        ul {
          width: 609px;
          @extend .flex;
          @extend .justify-content-around;
          li {
            display: inline-block;
            padding: 3px 0px 3px 3px;
            font-size: 14px;
            a {
              color: white;
              &:link {
                text-decoration: none;
              }
              &:hover {
                transition: all 0.3s ease;
                color: $main-red;
              }
            }
          }
        }
      }
    }
  }
}
