//  header home
#header {
  @include defaultmain($full-faiz, $main-height);
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  z-index: 0;
  .ovarlay {
    width: $full-faiz;
    height: $full-faiz;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    @include position-top-left-index(absolute, 0px, 0px, 1);
    background-color: rgba(0, 0, 0, 0.69);
  }
  .content {
    width: $full-faiz;
    height: $full-faiz;
    color: white;
    @include position-top-left-index(absolute, 0px, 0px, 2);
    text-align: center;
    @extend .flex-columun-center;
    h4 {
      margin-bottom: $mp-3;
      @include font-size-weig-align-liheig(30px, 400, none, none);
    }
    h1 {
      text-transform: uppercase;
      @include font-size-weig-align-liheig(50px, 600, none, none);
      margin-bottom: $mp-3;
    }
    p {
      width: $full-faiz/2;
      @include font-size-weig-align-liheig(none, none, center, 1.8);
      margin-bottom: $mp-3;
      color: $main-p;
    }
    button {
      @include font-size-weig-align-liheig(15px, 600, none, none);
      @include position-top-left-index(absolute, 440px, none, none);
      @extend .btn;
      @extend .btn-border-white;
      @extend .btn-border-radius-6x;
    }
    .dubl-down {
      @include position-top-left-index(relative, none, none, 7);
      bottom: 5vh;
      width: $full-faiz;
      @include font-size-weig-align-liheig(30px, none, center, none);
      animation: mymove 2s infinite;
      .down {
        color: $main-red;
        cursor: pointer;
      }
    }
    @keyframes mymove {
      0% {
        top: 120px;
      }
      2% {
        top: 120px;
      }
      10% {
        top: 150px;
      }
      30% {
        top: 130px;
      }
      40% {
        top: 150px;
      }
      60% {
        top: 140px;
      }
      70% {
        top: 150px;
      }
      82% {
        top: 150px;
      }
      100% {
        top: 120px;
      }
    }
  }
  .nav {
    @extend .flex-full-center;
    @include position-top-left-index(relative, none, none, 999);
    width: $full-faiz;
    height: 70px;
    .nav-bar {
      width: $width;
      @extend .flex-spacebetween-center;
      .nav-bar-left a img {
        width: 100px;
      }
      .nav-bar-right {
        display: inline-block;
        ul {
          width: 609px;
          @extend .flex-spacearound-center;
          li {
            display: inline-block;
            padding: 3px 0px 3px 3px;
            font-size: 16px;
            a {
              color: white;
              &:link {
                text-decoration: none;
              }
              &:hover {
                transition: all 0.3s ease;
                color: $main-red;
              }
            }
          }
        }
      }
    }
  }
}
