#portfolio {
    @include defaultmain($full-faiz, none);
    .port {
        margin: 0 auto;
        width: $width;
        text-align: center;
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            margin: 10px auto;
            text-align: center;
            max-width: 500px;
            color: $main-pp;
        }
        button {
            padding: 10px 20px !important;
            margin: 10px;
        }
    }
    .anbar {
        width: 83%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        grid-template-areas:
            "b c d"
            "e f g";
    }
    .qutu {
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        img {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
        }
        &:hover {
            img {
                filter: brightness(0.2);
                transform: scale(1.1);
            }
        }
    }
}
.overtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
}
.qutu:hover .overtitle {
    height: 100%;
}
.text {
    color: rgba(255, 255, 255, 0.699);
    font-size: 15px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.qaralti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: zoom-out;
    z-index: 999;
}
.albom {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1000;
    .sekil {
        display: inline-block;
    }
}
#sol {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 42%;
    left: 1%;
    color: $light-red;
    font-size: 60px;
    margin: 10px;
    z-index: 1000;
    &:hover {
        color: $main-red;
    }
}
#sag {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 42%;
    right: 1%;
    color: $light-red;
    font-size: 60px;
    margin: 10px;
    z-index: 1000;
    &:hover {
        color: $main-red;
    }
}
