// section servies
#servies {
    @include defaultmain($full-faiz, none);
    h2 {
        letter-spacing: 1px;
        @include font-size-weig-align-liheig(2rem, none, center, none);
    }
    p {
        @include font-size-weig-align-liheig(none, none, center, 1.8);
    }
    .container {
        .row {
            .col-4 {
                img {
                    height: 40px;
                }
                h4 {
                    letter-spacing: 1px;
                    @include font-size-weig-align-liheig(180%, none, center, none);
                    color: $color-black;
                }
                p {
                    text-align: center;
                    color: $main-pp;
                }
            }
        }
    }
}
