// section servies
#servies {
    width: $main-width;
    background-color: rgba(230, 224, 224, 0.69);
    position: relative;
    box-sizing: border-box;
    padding: 100px 0;
    h2 {
        font-family: $font-family;
        text-align: center;
        font-size: 2rem;
    }
    p {
        margin: 20px auto;
        width: 600px;
        text-align: center;
        line-height: 1.8;
        color: $main-pp;
        box-sizing: border-box;
        margin-bottom: 70px;
    }
    .container {
        .row {
            .col-4 {
                box-sizing: border-box;
                padding-top: 120px;
                h4 {
                    box-sizing: border-box;
                    text-align: center;
                    font-size: 180%;
                    color: black;
                }
                p {
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                    color: $main-pp;
                }
            }
        }
    }
}
