// section servies
#servies {
    @include defaultmain($main-width, none);
    background-color: rgba(230, 224, 224, 0.69);
    box-sizing: border-box;
    padding: 100px 0;
    h2 {
        letter-spacing: 1px;
        font-family: $font-family;
        @include font-size-weig-align-liheig(2rem, none, center, none);
    }
    p {
        margin: 20px auto;
        width: 600px;
        @include font-size-weig-align-liheig(none, none, center, 1.8);
        color: $main-pp;
        box-sizing: border-box;
        margin-bottom: 70px;
    }
    .container {
        .row {
            .col-4 {
                box-sizing: border-box;
                padding-top: 120px;
                h4 {
                    letter-spacing: 1px;
                    box-sizing: border-box;
                    @include font-size-weig-align-liheig(180%, none, center, none);
                    color: black;
                }
                p {
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                    color: $main-pp;
                }
            }
        }
    }
}
