{% extends "admin/layout.html" %}

{% block contentAdmin %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
            </div>
            <h4 class="page-title">Settings</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <!--end col-->
</div>

<form action="{{url_for('admin.adminSettings')}}" method="POST" class="row">
    {{ updateform.hidden_tag() }}
    <div class="col-12">
        <div class="form-group row">
            {{updateform.oldusername.label(class='col-3 col-form-label text-left', for='example-text-input3')}}
            <div class="col-9">
                {{updateform.oldusername(class='form-control', id="example-text-input3")}}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row">
            {{updateform.oldpassword.label(class='col-3 col-form-label text-left', for='example-text-input4')}}
            <div class="col-9">
                {{updateform.oldpassword(class='form-control', id="example-text-input4")}}
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="form-group row">
            {{updateform.username.label(class='col-3 col-form-label text-left', for='example-text-input')}}
            <div class="col-9">
                {{updateform.username(class='form-control', id="example-text-input")}}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row">
            {{updateform.password.label(class='col-3 col-form-label text-left', for='example-text-input1')}}
            <div class="col-9">
                {{updateform.password(class='form-control', id="example-text-input1")}}
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row">
            {{updateform.confirm.label(class='col-3 col-form-label text-left', for='example-text-input2')}}
            <div class="col-9">
                {{updateform.confirm(class='form-control', id="example-text-input2")}}
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-right">
        {{updateform.submit(class='btn btn-gradient-primary px-5 py-2 mb-2')}}
    </div>
</form>


{% endblock %}