{% extends "admin/layout.html" %}

{% block contentAdmin %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit Seo</li>
                </ol>
            </div>
            <h4 class="page-title">Seo</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <!--end col-->
</div>

<form action="{{url_for('admin.adminSeo')}}" method="POST" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label text-left">Website Title</label>
            <div class="col-9">
                {% if bos %}
                {% for i in seo %}
                    <input class="form-control" name="title" value="{{i.title}}" type="text" id="example-text-input" required>
                {% endfor %}
                {% else %}
                    <input class="form-control" value="None" name="title" type="text" id="example-text-input" required>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input1" class="col-3 col-form-label text-left">Site Keywords</label>
            <div class="col-9">
                {% if bos %}
                {% for i in seo %}
                    <input class="form-control" value="{{i.keywords}}" name="keywords" type="text" id="example-text-input1" required>
                {% endfor %}
                {% else %}
                <input class="form-control" value="None" name="keywords" type="text" id="example-text-input1" required>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Site Icon</h4>
                <div class="dropify-wrapper">
                    <input type="file" name="file" id="input-file-now" class="dropify" required>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Site Background Image</h4>
                <div class="dropify-wrapper">
                    <input type="file" name="homefile" id="input-file-now" class="dropify" required>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-right">
        <button type="submit" class="btn btn-gradient-primary px-5 py-2">Send</button>
    </div>
</form>

{% endblock %}